@page "/access-denied"

<PageTitle>Access Denied</PageTitle>

<div class="container">
    <div class="card">
        <h2 class="card_title">Access Denied</h2>
        <div class="card_content">Please log in in order to access this resource.</div>
    </div>
</div>

@code {
    
}