@page "/"

<PageTitle>Home</PageTitle>

<div class="page">
    <div class="home-layout-grid">
        <div class="left-text">
            <h1>Welcome to Show Time</h1>
            <span>the hub for your favourite festivals</span>
                
            <p>Choose from the vast collection of festivals and artists of all genres</p>
        </div>
            
        <div class="right-polaroids">
            <div class="polaroid">
                <div class="polaroid-image">
                    <img src="https://scontent.ftsr1-2.fna.fbcdn.net/v/t39.30808-6/471166138_18193503019305554_4249189598155251750_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_ohc=OsH6Sfq0nbQQ7kNvwEM4amT&_nc_oc=AdmcQQ37WBKbhhTvK66-A6WM0oM7bsnaY8nVXaRB5XE-JSDgdcmXUOnHy68sjyMbKrU&_nc_zt=23&_nc_ht=scontent.ftsr1-2.fna&_nc_gid=0zgJ4n7WZcpPWWJTyWuUaA&oh=00_AfNmLW5WOkOlbpHqwpXYMekWHUqbpBS4pZtxvNy10oTOIQ&oe=6869AB45" alt="SUMMER VIBES">
                </div>
                <div class="polaroid-caption">Summer Vibes</div>
            </div>

            <div class="polaroid">
                <div class="polaroid-image">
                    <img src="https://scontent.ftsr1-2.fna.fbcdn.net/v/t39.30808-6/486641855_1118823770285433_5624579032366790111_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_ohc=788Te-x-INQQ7kNvwEHTvyR&_nc_oc=Adm0OP_zKAyIDOfTBMLjypqP7zUN62xuzIgegShQN4p3NJAyMK8zt6Hs2S3oCU78Lv0&_nc_zt=23&_nc_ht=scontent.ftsr1-2.fna&_nc_gid=9dFoLhDfm_VcQKCRQPD5yA&oh=00_AfOPZujxdnsdbET7CJF8YSXb6AD-mj60PZGggIWQ4ecJRA&oe=6869B901" alt="SMOOTH SOUNDS">
                </div>
                <div class="polaroid-caption">Smooth Sounds</div>
            </div>

            <div class="polaroid">
                <div class="polaroid-image">
                    <img src="https://adn.harmanpro.com/news/news_photos/1459_1572640515/metallica_original.jpeg" alt="BEAT DROP">
                </div>
                <div class="polaroid-caption">Beat Drop</div>
            </div>
        </div>
    </div>
</div>