@page "/"

<PageTitle>Home</PageTitle>

<div class="page">
    <div class="home-layout-grid">
        <div class="left-text">
            <h1>Welcome to Show Time</h1>
            <span>the hub for your favourite festivals</span>
                
            <p>Choose from the vast collection of festivals and artists of all genres</p>
        </div>
            
        <div class="right-polaroids">
            <div class="polaroid">
                <div class="polaroid-image">
                    <img src="https://szigetfestival.com/wp-content/uploads/2024/09/sziget24_day1_26.jpg" alt="SUMMER VIBES">
                </div>
                <div class="polaroid-caption">Summer Vibes</div>
            </div>

            <div class="polaroid">
                <div class="polaroid-image">
                    <img src="https://szigetfestival.com/wp-content/uploads/2024/09/sziget24_day2_28.jpg" alt="SMOOTH SOUNDS">
                </div>
                <div class="polaroid-caption">Smooth Sounds</div>
            </div>

            <div class="polaroid">
                <div class="polaroid-image">
                    <img src="https://adn.harmanpro.com/news/news_photos/1459_1572640515/metallica_original.jpeg" alt="BEAT DROP">
                </div>
                <div class="polaroid-caption">Beat Drop</div>
            </div>
        </div>
    </div>
</div>