@inject NavigationManager Navigation
@rendermode InteractiveServer

<nav class="navbar">
    <div class="navbar-left">
        <a href="/artists" class="nav-link">Artists</a>
        <a href="/festivals" class="nav-link">Festivals</a>
        <a href="/" class="nav-link">Home</a>
    </div>

    <div class="navbar-center">
        <h1 class="logo">SHOW • TIME</h1>
    </div>

    <div class="navbar-right">
            <AuthorizeView>
                <NotAuthorized><button class="user-profile-button" @onclick="NavigateToLogIn">👤 LOG IN</button></NotAuthorized>
                <Authorized><button class="user-profile-button" @onclick="NavigateToUserProfile">👤 PROFILE</button></Authorized>
            </AuthorizeView>
    </div>
</nav>

@code {
    private NavigationManager NavigationManager { get; set; } = default!;

    private void NavigateToLogIn()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToLogOut()
    {
        Navigation.NavigateTo("/logout", forceLoad: true);
    }


    private void NavigateToUserProfile()
    {
        Navigation.NavigateTo("/user");
    }

}