@using ShowTime.BusinessLogic.Dto.TicketDto

<div class="ticket-card">
    <div class="ticket-main">
        <div class="ticket-header">
            <h2>@Ticket.Name</h2>
            <span class="ticket-type">@Ticket.Type</span>
        </div>
        <AuthorizeView Roles="User">
            <button class="buy-button" @onclick="OnBuyClicked">Purchase</button>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <button class="buy-button" @onclick="OnEditClicked">Edit</button>
        </AuthorizeView>
    </div>
    
    <div class="ticket-stub">
        <div class="ticket-price">@Ticket.Price.ToString("C")</div>
        <div class="ticket-quantity">QTY: @Ticket.Quantity</div>
    </div>
    
    <div class="ticket-barcode"></div>
</div>

@code {
    [Parameter, EditorRequired] public required TicketGetDto Ticket { get; set; }
    [Parameter] public EventCallback<TicketGetDto> OnBuy { get; set; }
    [Parameter] public EventCallback<TicketCreateDto> OnEdit { get; set; }

    private async Task OnBuyClicked()
    {
        if (OnBuy.HasDelegate)
            await OnBuy.InvokeAsync(Ticket);
    }

    private async Task OnEditClicked()
    {
        if (OnBuy.HasDelegate)
            await OnBuy.InvokeAsync(Ticket);
    }
}